# add ~/$HOME/bin to $PATH
export PATH=$PATH:$HOME/bin

# general settings
export TERMINAL="st"
export EDITOR="vim"
export BROWSER="firefox"

# set wallpaper
$HOME/bin/setbg &

# composit manager
xcompmgr -F &

# simple X hotkey daemon
pgrep -x sxhkd > /dev/null || sxhkd &

# dunst server
dunst &
