# set display mode
xrandr --output Virtual-1 --mode 1600x900

# set wallpaper
$HOME/bin/setbg &

# composit manager
xcompmgr -F &

# simple X hotkey daemon
pgrep -x sxhkd > /dev/null || sxhkd &

# general settings
export TERMINAL="urxvt"
export EDITOR="vim"
