# add ~/$HOME/bin to $PATH
export PATH=$PATH:$HOME/.local/bin
export PATH=$PATH:$HOME/.local/bin/statusbar

# general settings
export TERMINAL="st"
export EDITOR="vim"
export BROWSER="brave"
export EMAIL="thunderbird"

# set wallpaper
setbg &

# polkit
lxpolkit &

# composit manager
picom --experimental-backends &

# simple X hotkey daemon
pgrep -x sxhkd > /dev/null || sxhkd &

# dunst server
dunst &

# mpDris2
mpDris2 &
